<div class="form-container bg">
  <img
    src="assets/momentus_technologies.svg"
    alt="Momentus-Technologies"
    class="momentus-tech-logo"
  />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Event</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
      <mat-form-field class="example-form-field">
        <mat-label>Event Name</mat-label>
        <input matInput type="text" formControlName="eventName" />
        <button
          *ngIf="form.get('eventName')?.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="form.get('eventName')?.value.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('eventName')?.errors?.['required']">Event Name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Category</mat-label>
        <mat-select formControlName="eventCategory">
          <mat-option *ngFor="let item of category" [value]="item.value">{{
            item.viewValue
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('eventName')?.errors?.['required']">Event Name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Contact</mat-label>
        <mat-select formControlName="contact">
          <mat-option *ngFor="let item of contact" [value]="item.value">{{
            item.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <div></div>
      <div></div>

      <mat-card-actions align="end">
        <button mat-button (click)="getSuggestions()">Get Catalog Suggestions</button>
      </mat-card-actions>

      <mat-form-field class="example-form-field" *ngIf="catalogueItems.length">
        <mat-label>Catalogue Suggestions</mat-label>
        <mat-chip-grid
          #chipGrid
          aria-label="Enter catalogue"
          formControlName="catalogueItems"
        >
          <mat-chip-row
            (removed)="remove(item)"
            *ngFor="let item of catalogueItems"
          >
            {{ item }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="New keyword..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>

      <div></div>
      <div></div>

      <mat-card-actions align="end">
        <button mat-button (click)="submit()">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
