<div class="form-container bg">
  <img src="assets/momentus_technologies.svg" alt="Momentus-Technologies"
  class="momentus-tech-logo">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Event</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
      <mat-form-field class="example-form-field">
        <mat-label>Event Name</mat-label>
        <input matInput type="text" formControlName="eventName" />
        <button
          *ngIf="form.get('eventName')?.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="form.get('eventName')?.value.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let item of category" [value]="item.value">{{
            item.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Contact</mat-label>
        <mat-select formControlName="contact">
          <mat-option *ngFor="let item of contact" [value]="item.value">{{
            item.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field class="example-form-field">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="endDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-card-actions align="end">
        <button style="color: #f2eeec;" mat-button (click)="router.navigateByUrl('')">BACK</button>
        <button style="color: #f2eeec;" mat-button (click)="submit()">SUBMIT</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
